#imagen {
			width:500px;
			height:375px;
			position:relative;
		}
		#imagen>div
		{
			position: relative;
			bottom:25px;
			color:#fff;
			background-color:#000;
			padding:2px 10px;
			opacity:0.5;
			font-weight:bold;
		}
	
